@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

.header {
    background-color: rgba(255, 255, 0, 0.557);
    border-bottom: 1px solid #eee;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 2rem;
    font-family: 'Diphylleia', serif;
    font-size: 2rem;
    font-weight: 600;
    color: #0a0a0a;
}

.header-search-box {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.search-bar {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    outline: none;
}

.search-btn {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.search-btn:hover {
    background-color: #ddd;
}

@media screen and (max-width: 600px) {
    .header {
        height: 15vh;
        justify-content: center;
        flex-direction: column;
        gap: .5rem;
    }

    .header-logo {
        font-size: 2rem;
        margin: 0;
    }

    .header-search-box {
        margin: 0;
    }
}